<!DOCTYPE html>
<html lang="zh">
<head>
<!-- head--->
    <%- include('./_blocks/common') %>
	<meta name="keywords" content="<%= $page.mainTitle %>">
    <title><%= $page.mainTitle %>-<%= $site.siteName %></title>
</head>
<body>
<!-- 头部 -->
<%- include('./_blocks/header') %>
<t></t>

<!-- 内容 -->
<div class="content container" data-content>
    <!-- 一级 -->
	<%- include('./_blocks/imagesbar') %>
    <!-- 二级 -->
    <div class="love2" >

        <div class="left">
            <!-- 文章主体 -->
            <div class="contents">
                <div class="title"><%= $page.mainTitle %></div>
                <div class="ner" style="height:800px;">
                  <%- $page.content %>
				 
                </div>
                <div class="label"> 转载请注明出处！--- IT民工 </div>
                
            </div>           
        </div>
	<!----侧边栏 --->
	<%- include('./_blocks/right') %>

    </div>
</div>
<!-- 底部 -->
<%- include('./_blocks/footer') %>

<!-- 侧边栏 -->

<%- include('./_blocks/rightbar') %>

</body>
</html>
