<!DOCTYPE html>
<html lang="zh">
<head>
<!-- head--->
    <%- include('./_blocks/common') %>
	<meta name="keywords" content="<%= $page.mainTitle %>">

    <title><%= $page.mainTitle %>-<%= $site.siteName %></title>
</head>
<body>
<!-- 头部 -->
<%- include('./_blocks/header') %>
<t></t>

<!-- 内容 -->
<div class="content container" >
    <!-- 一级 -->
    <ul class="list row bj-white" id="list-1">
        <li class="title">
            <i class="iconfont c-hong">&#xe940;</i>热门推介<label>欢迎访问IT民工的网站！</label>
        </li>
        <div>
            <li class="cont-req">
                <a class="t1_pick"><img src="/_assets/images/header-img-1.jpg"/></a>
				<h3><a href="javascript:;">美丽的向日葵</a></h3>

            </li>
            <li class="cont-req">
                <a class="t1_pick"><img src="/_assets/images/header-img-2.jpg"/></a>
				<h3><a href="javascript:;">枫叶山</a></h3>

            </li>
            <li class="cont-req">
                <a class="t1_pick"><img src="/_assets/images/header-img-3.jpg"/></a>
				<h3><a href="javascript:;">大峡谷</a></h3>

            </li>
            <li class="cont-req">
                <a class="t1_pick"><img src="/_assets/images/header-img-4.jpg"/></a>
				<h3><a href="javascript:;">吊桥</a></h3>
            </li>
            <li class="cont-req">
                <a class="t1_pick"><img src="/_assets/images/header-img-5.jpg"/></a>
				<h3><a href="javascript:;">花朵</a></h3>
            </li>
        </div>
    </ul>
    <!-- 二级 -->
    <div class="love2" id="list-2">
        <div class="left" id="list-left">
            <ul class="list row list-hen">
			
			
				<% const yearArticles = _.groupBy($site.articles, ({createdAt}) => moment(createdAt).year()); 
				   const years = Object.keys(yearArticles).sort().reverse(); 
				   for(const year of years) { %>
						 <li class="title title-lv">
							<span class="badge badge-secondary"><%= year %>年</span>文章列表
						 </li>
						 <li class="cont-req2">
							 <div class="lvti">

									 <% for (const article of yearArticles[year]) { %>
										<ul class="entry-meta">
											<li >
												<i class="iconfont">&#xe601;</i>

												<a href="/<%= article.fullUrl %>"><%= article.title %></a>

											</li>
											<li><%= moment(article.createdAt).format($page.dateFormat) %>
										</ul>
															 
									 <% } %>
							 </div>
						 </li>
					<% } %>				               				
			</ul>
		</div>
		<!-- 右侧-->
	<%- include('./_blocks/right') %>

    </div>
</div>
<!-- 底部 -->
<%- include('./_blocks/footer') %>

<!-- 侧边栏 -->

<%- include('./_blocks/rightbar') %>

</body>
</html>