<!DOCTYPE html>
<html lang="zh">
<head>
<!-- head--->
    <%- include('./_blocks/common') %>
	<meta name="keywords" content="<%= $page.mainTitle %>">

    <title><%= $page.mainTitle %>-<%= $site.siteName %></title>
</head>
<body>
<!-- 头部 -->
<%- include('./_blocks/header') %>
<t></t>

<!-- 内容 -->
<div class="content container" >
    <!-- 一级 -->
	<%- include('./_blocks/imagesbar') %>
    <!-- 二级 -->
    <div class="love2" id="list-2">
        <div class="left" id="list-left">
            <ul class="list row list-hen">
				<% const yearArticles = _.groupBy($site.articles, ({createdAt}) => moment(createdAt).year()); 
				   const years = Object.keys(yearArticles).sort().reverse(); 
				   for(const year of years) { %>
						 <li class="title title-lv">
							<span class="badge badge-secondary"><%= year %>年</span>文章列表
						 </li>
						 <li class="cont-req2">
							 <div class="lvti">

									 <% for (const article of yearArticles[year]) { %>
										<ul class="entry-meta">
											<li >
												<i class="iconfont">&#xe601;</i>

												<a href="/<%= article.fullUrl %>.html"><%= article.title %></a>

											</li>
											<li><%= moment(article.createdAt).format($page.dateFormat) %>
										</ul>
															 
									 <% } %>
							 </div>
						 </li>
					<% } %>				               				
			</ul>
		</div>
		<!-- 右侧-->
	<%- include('./_blocks/right') %>

    </div>
</div>
<!-- 底部 -->
<%- include('./_blocks/footer') %>

<!-- 侧边栏 -->

<%- include('./_blocks/rightbar') %>

</body>
</html>