<!DOCTYPE html>
<html lang="zh">
<head>
<!-- head--->
    <%- include('./_blocks/common') %>
	<meta name="keywords" content="<%= $article.title %>">
    <title><%= $article.title %>-<%= $site.siteName %></title>
</head>
<body>
<!-- 头部 -->
<%- include('./_blocks/header') %>
<t></t>

<!-- 内容 -->
<div class="content container" data-content>
    <!-- 一级 -->
	<%- include('./_blocks/imagesbar') %>
    <!-- 二级 -->
    <div class="love2" >

        <div class="left">
            <!-- 文章主体 -->
            <div class="contents">
                <div class="title"><%= $article.title %></div>
                <div class="title_t">时间：<%= moment($article.createdAt).format($page.dateFormat) %>丨编辑：<a href="<%= $link.index %>.html"><%= $site.copyright %></a></div>
                <div class="ner">
                  <%- $article.htmlContent %>
                </div>
				<div style="padding:15px;">
				   <a href="javascript:;">
						<% if ($article.tags.length > 0) {%>
							标签: <% for (const tag of $article.tags) {%>
									<span ><%= tag %></span>
									<% } %>
						<% } %></a>
				</div>
                <div class="label"> 转载请注明出处！--- IT民工 </div>
               
            </div>           
        </div>
	<!----侧边栏 --->
	<%- include('./_blocks/right') %>

    </div>
</div>
<!-- 底部 -->
<%- include('./_blocks/footer') %>

<!-- 侧边栏 -->

<%- include('./_blocks/rightbar') %>

</body>
</html>
