<!DOCTYPE html>
<html lang="zh">
<head>
<!-- head--->
    <%- include('./_blocks/common') %>
    <title><%= $site.siteName %>,<%= $site.siteEName %></title>
</head>
<body>
<!-- 头部 -->
<%- include('./_blocks/header') %>
<t></t>

<!-- 内容 -->
<div class="content container" >
    <!-- 一级 -->
	<%- include('./_blocks/imagesbar') %>
    <!-- 二级 -->
    <div class="love2" id="list-2">
        <div class="left" id="list-left">
            <ul class="list row list-hen">
                <li class="title title-lv">
                    <span class="badge badge-secondary">HOT</span>最热文章<label><% const hotArticle = _.sample($site.articles);%><a href="/<%= hotArticle.fullUrl %>.html"><%= hotArticle.title %></a></label>
                </li>
				<%  const currentYear = new Date().getFullYear();
					const firtMillisecondsThisYear = new Date(currentYear,0,1,0,0,0,0).getTime(); 
					const articlesOfThisYear = _.filter($site.articles, function(article) { return article.createdAt >= firtMillisecondsThisYear; });
					//返回符合条件的数组
				%>
				<% for (const article of articlesOfThisYear) { %>
				<li class="cont-req2">
					<a href="/<%= article.fullUrl %>.html" class="t2_pick"><img src="/_assets/images/titile-img-<%=Math.floor(Math.random() * 13) + 1 %>.jpg" alt=""></a>
						<div class="lvti">
							<h2><a href="/<%= article.fullUrl %>.html"><%= article.title %></a></h2>
							<div class="content"><% var htmlArticle = markdown.toHTML(article.content); %><%- htmlArticle.replace(/<[^>]+>/g,"").replace(/[\r\n\s]/g, "").replace(" ","").substr(0,150) %>...</div>
							<ul class="entry-meta">
								<li>
									<i class="iconfont">&#xe601;</i>
									<a href="javascript:;">标签</a>
								</li>
								<% if (article.tags.length > 0) {%>
								<li>
									<i class="iconfont">&#xe601;</i>
									<% for (const tag of article.tags) {%>
										<span><a href="javascript:;"><%= tag %></a></span>
									<% } %>
								</li>
								<% } %>
								<li>
									<i class="iconfont">&#xe60b;</i>
									<a href="javascript:;"><%= moment(article.createdAt).format($page.dateFormat) %></a>
								</li>
								
								<li class="btn-Msg">
									<a href="/<%= article.fullUrl %>.html">阅读全文</a>
								</li>
							</ul>
						</div>			
				</li>
				<% } %>
				
			</ul>
		</div>
		<!-- 右侧-->
	<%- include('./_blocks/right') %>

    </div>
</div>
<!-- 底部 -->
<%- include('./_blocks/footer') %>

<!-- 侧边栏 -->

<%- include('./_blocks/rightbar') %>

</body>
</html>
